.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 16px;
  min-height: 100vh; 
}

.left_container{
  background-color: blue;
  width: 30%;
  align-self:stretch;
}

.right_container{
  background-color: burlywood;
  width: 70%;
}

.left_topbar{
  background-color: aqua;
  height: 8vh;
}

.left_main{
  background-color: aquamarine;
  height: 92vh;
}

.right_topbar{
  background-color: brown;
  height: 8vh;
}

.right_week{
  background-color: chocolate;
  height: 30vh;
}

.right_hl{
  background-color: coral;
  height: 62vh;
}